<!DOCTYPE html> <!--download.html-->
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Jdat website - Download</title>
        <link rel="static/style2.css">
    </head>

    <body>
        <section>
        <strong>Download Jdat</strong>
    </section>

        <section>
        <p>
            no dependancies required
            to install Jdat folow this instructions:
            1.<a href="/jdat_setup.bat" download>Downaload the setup</a>
            2.open setup as administrator
            3. you can use .jdat evrywhere in your pc
            4. to use shell:in cmd "jdat-shell"
        </p>

        <a href="/jdat_setup.bat" download></a>
            <button>Download the setup</button>
    </section>^

        <header>
        <strong>©GabiMinecraf02<a herf="https://gabiminecraft02-website.onrender.com">website</a></strong>
        </header>
    </body>
</html>
