<!DOCTYPE html> <!--index.html-->
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Jdat the easiest data format</title>
        <link rel="static/style.css">
    </head>

    <body>
        <strong>Jdat The easiest data format</strong>

        <a herf="/templates/docs.html"></a>
            <button>Jdat documentation</button>

        <a herf="/templates/download.html"></a>
            <button>download</button>
        
        <header>
            <strong>©GabiMinecraf02<a herf="https://gabiminecraft02-website.onrender.com">website</a></strong>
        </header>
    </body>
</html>
